* {
    box-sizing: border-box;
}
body{
    font-family: Rajdhani;
    color: white;
    font-size: 20px;
    background-color: rgb(56, 56, 56);
    margin: 0;
}
header h1 {
    padding-left: 20px;
}
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    text-align: center;
}
nav{
    background-color: rgb(37, 37, 37);
    padding: 5px;
}
nav a{
    text-decoration: none;
    color: rgb(179, 179, 179);
    padding: 20px;
    transition: all .5s ease-in-out;
}
nav a:hover{
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.540));
    border-bottom: 1px solid white ;
}
article {
    width: 60%;
    margin: auto;
    padding-bottom: 10px;
}
fieldset{
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
    border: none;
    flex-direction: column;
    display: flex;
}
form {
    flex-direction: column;
    display: flex;
}
legend {
    padding-left: 25px;
}
input {
    align-self: center;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: none;
}
input:hover {
    background-color: rgb(190, 190, 190);
}
.button {
    margin: 20px;
    align-self: flex-end;
    border: none;
    transition: all .3s ease-in-out;
}
.button:hover {
    background-color: black;
    color: whitesmoke;
}
.mobilenav {
    position: fixed;
    width: 100%;
    background-color: rgba(37, 37, 37, 0.950);
}
details {
    display: none;
    position: fixed;
}
summary {
    list-style-type: none;
}
summary span {
    padding-left: 20px;
}
.galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    width: 300px;
}
footer{
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .pcnav {
        display: none;
    }
    details {
        display: block;
    }
    nav ul {
        grid-template-columns: 1fr; 
    }
    li {
        padding: 10px;
    }
    nav a {
        padding: 0;
    }
    nav a:hover {
        padding: 0;
        background: none;
        border: none;
    }
    article {
        width: 80%;
    }
    input {
        width: 70%;
    }
}